<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b9b6ef5a-fe89-483a-8725-15a0c1f4d0e3/resourceGroups/srubina-sanchez-rg/providers/Microsoft.Web/sites/TodoFullStack</ResourceId>
    <ResourceGroup>srubina-sanchez-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://todofullstack.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://todofullstack.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$TodoFullStack</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>